@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    @apply 
      bg-slate-100
      min-h-[calc(100vh)]
      flex
      flex-col
      relative
  }

  .navbar {
    @apply 
      fixed
      shadow-md 
      w-full
      z-50 
  }

  .navbar__container {
    @apply 
      bg-slate-50
      flex
      font-medium
      justify-between
      px-8
      py-4
      text-slate-700
  }

  .navbar__right-container {
    @apply flex gap-8
  }

  .navbar__link-list {
    @apply 
      cursor-pointer
      flex
      gap-4
      underline-offset-4
  }

  .navbar__page-link {
    @apply 
      cursor-pointer
      flex
      gap-4
      hover:underline
      hover:text-orange-400
      underline-offset-4
  }

  .showcase {
    @apply 
      flex
      flex-col
      gap-8
      p-6
      px-20
  }

  .showcase__category {
    @apply 
      flex
      flex-col
      gap-4
  }

  .showcase__category-title {
    @apply 
      font-bold
      text-3xl
      text-slate-500
  }

  .showcase-product__container {
    @apply 
      bg-slate-50
      cursor-pointer
      flex
      flex-col
      gap-2
      h-72
      hover:shadow-xl
      p-4
      rounded-md
      shadow-md
      text-slate-700
      w-56
  }
  
  .showcase-product__image-container {
    @apply 
      flex
      h-32
      justify-center
  }
  
  .showcase-product__image {
    @apply h-full
  }
  
  .showcase-product__title {
    @apply font-bold line-clamp-2
  }
  
  .showcase-product__rating-container {
    @apply 
      flex
      gap-2
      text-sm
  }
  
  .showcase-product__price {
    @apply 
      text-2xl
      font-bold
      text-slate-800
  }

  .footer__link {
    @apply hover:text-orange-400
  }
}